<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width = device-width, initial-scale=1">
        <title>Con Estas Manos | With These Hands</title>
        <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        <link rel="icon" href="/images/fav.png">
        <script src='/javascript/jquery.min.js'>
        </script>
        <script src="/semantic/dist/semantic.min.js"></script>
    </head>
    <body>
        <div id='desktop' class="ui container">
            <div class="ui massive text menu">
                <div class="fitted item logo">
                    <a href="/">
                        <img src="/images/cem.png">
                    </a>
                </div>

                <div class="right menu">
                    <a class="ui <%= typeof page !== 'undefined' && page === 'story' ? 'active ' : '' %>item" href="/stories">
                        stories
                    </a>
                    <% if(!currentUser){ %>
                        <a class="ui <%= typeof page !== 'undefined' && page === 'register' ? 'active ' : '' %>item" href="/register">
                            sign up
                        </a>
                        <a class="ui <%= typeof page !== 'undefined' && page === 'login' ? 'active ' : '' %>item" href="/login">
                            login
                        </a>
                    <% } else {%>
                        <a class="ui <%= typeof page !== 'undefined' && page === 'profile' ? 'active ' : '' %>item" href="/user/<%=currentUser.username %>">
                            <i class="user outline icon"></i> <%= currentUser.username %>
                        </a>                        
                        <a class="ui item" href="/logout">
                            logout
                        </a>
                        
                    <% } %>
                </div>
            </div>
        </div>
        

            <div id='mobile'>
                <div class="mobile">
                    <img src="/images/cem.png">
                    <div id='sidebar'>
                        <i class='big sidebar icon'></i>
                    </div>
                </div>

                <div id='mobileMenu' class='title'>
                    <a class="ui <%= typeof page !== 'undefined' && page === 'home' ? 'activeMobile ' : '' %>item" href="/">
                        home
                    </a>
                    <a href='/stories'>stories</a>
                    <% if(!currentUser){ %>
                        <a class="ui <%= typeof page !== 'undefined' && page === 'register' ? 'activeMobile ' : '' %>item" href="/register">
                            sign up
                        </a>
                        <a class="ui <%= typeof page !== 'undefined' && page === 'login' ? 'activeMobile ' : '' %>item" href="/login">
                            login
                        </a>
                    <% } else {%>
                        <a class="ui <%= typeof page !== 'undefined' && page === 'profile' ? 'activeMobile ' : '' %>item" href="/user/<%=currentUser.username %>">
                            <i class="user outline icon"></i> <%= currentUser.username %>
                        </a>                        
                        <a class="ui item" href="/logout">
                            logout
                        </a>
                    <% } %>
                </div>
            </div>
        
        <div class="site-content">
            <div id='image'>
                <img src='/images/madre.JPG'>
                <div id='title' class='title'>
                    <span id='name' class='ui huge header'>With These Hands</span></br>
                    <span id='description'>a collection of pictures of migrant worker's hands and the stories they tell</span>
                    </br>
                    <a href='/stories' class='ui inverted button'>view their stories</a>
                </div>
            </div>
            <div id='text' class='ui container'>
                <h1>About</h1><div class='ui divider'> </div>
                <p><i>"With These Hands"</i> is a small personal project that hopes to serve as a platform
                that highlights the work that migrant workers do through a collection of pictures of
                migrant worker's hands and the stories they tell along with them. My main inspiration
                were my parents. Growing up, I remember my parents sometimes coming home with work
                related injuries on their hands. They put themselves in harms way in order to give me
                an opportunity at a different life.
                </p>
                <p>
                I created this project to share a part of my parent's labor story and in the hopes that you too
                have wanted to share your own story. If you would like to share your story, simply create an
                account below.
                </p>
                <div class='ui divider'></div>
                <div id='bottom'class='title'>
                    <a href='/register' class='ui basic green button'>Sign Up</a>
                    <!--<h4 class='ui horizontal divider'>or view</h4>-->
                    <!--<a href='' class='ui basic black button'>My Father's Story</a>-->
                    <!--<a href='' class='ui basic black button'>My Mother's Story</a>-->

                </div>
            </div>
<% include ./partials/footer %>